body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div {
  background-color: #f6f6f6;
  width: 350px;
  height: 440px;
  padding: 30px;
}

.input {
  line-height: 30px;
  margin: 10px auto;
  display: block;
}

button {
  margin: 0 auto;
}
