body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}

.div {
  background-color: #f6f6f6;
  width: 350px;
  height: 440px;
}

.input {
  line-height: 30px;
  margin: 10px auto;
  display: block;
}
